.wrapper{
  display: flex;
  width: 595px;
  height: 842px;
}
.maininfo_1{
  background-color: #080808;
   width: 221px;
   height: 842px;
   padding-left: 25px;
}
.contact_me{
  margin-top: 28px;
  margin-bottom: 20px;
}
.contact_me_1{
  max-height: 22px;
}
.contact_me_title{
  font-size: 15;
  color: #ffff  ;
}
.line_contact_me{
  max-width: 62px;
  height: 1px;
  background-color: #ffff;
  margin-top: 4px;
}
.contact_me_2{
  max-width: 156px;
  display: flex;
  margin-top: 19px;
}
.contact_me_images{
  max-width: 12px;
  max-height: 66px;
  display: flex;
  flex-direction: column;
  gap: 10.5px;
  padding-top: 4px;
}
.contact_me_info_about_images{
  padding-top: 2px;
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.info_images{
  color: #ffff;
  font-size: 12px;
}
/*//////////////////////////////////////////////////////////////*/
.education{
  color: #ffff;
}
.education_info_more_title{
  margin-top: 19px;
  font-size: 13px;
  margin-bottom: 3px;
}
.education_more_subtitle_1{
  font-size: 10px;
  margin-bottom: 3px;
}
.education_more_subtitle_year{
  margin-bottom: 10px;
  font-size: 8px;
}
.education_more_line{
  background-color: #747178;
  height: 1px;
}
/*/////////////////////////////////////////////////////////////////////*/
.skill{
  color: #ffff;
}
.skill_title{
  margin-bottom: 19px;
  margin-top: 20px;
}
.skill_moreinfo{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skill_moreinfo_box{
  display: flex;
  align-items: center;
  gap: 10px;
}
.skill_moreinfo_dott{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #747178;
}
.skill_moreinfo_info{
  font-size: 11px;
}
